body{
    background-color: rgb(25, 60, 90);
    color: rgb(177, 179, 99)
}
img{
    max-width: 40vh;
}
.header-image{
    min-width: 30vh;
    
}
.quote{
    
    background-color: rgb(177, 179, 99);
    color: rgb(25, 60, 90)
}