body{
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 60, 90);
    color: rgb(177, 179, 99)

}
img{
    max-width: 35vh;
    max-height: fit-content;
}
.header-image{
    min-width: 30vh;
    
}
.quote{
    
    background-color: rgb(177, 179, 99);
    color: rgb(25, 60, 90)
}
ul{
    list-style: none;
}
li{
    padding-bottom: 1rem;
}